.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 25%;
    justify-content: space-evenly;
    margin: 10px auto;
}

.pagination-item {
    padding: 10px 15px;
    color: rgb(219, 219, 219);
}

.active {
    font-weight: bold;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}